<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCI9zi6QjieFVkdIqxQDn_F0KZDugQE6iM</string>
	<key>GCM_SENDER_ID</key>
	<string>617527301932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.mijnzpc</string>
	<key>PROJECT_ID</key>
	<string>mijnzpc-4911f</string>
	<key>STORAGE_BUCKET</key>
	<string>mijnzpc-4911f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617527301932:ios:06deefadea63dbba31be89</string>
</dict>
</plist>